<?xml version="1.0"?>

<model>
  <name>bottle</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Tor Lim</name>
    <email>wei88.lim@gmail.com</email>
  </author>

  <description>
    A grey detergent bottle yum
  </description>
</model>
